<h4><%=t "eservices.fresh_install_notify" %></h4>
<div class="box-footer">
  <%= link_to t("eservices.use_categories"),    category_path, 
              class: 'btn btn-primary btn-flat' %>
  <%= link_to t("eservices.use_no_categories"), eservice_path,
              class: 'btn btn-primary btn-flat' %>
</div>