<div class="box-body">
<h4>
  <dl class="dl-horizontal">
    <dt><%=t "rss.url" %></dt>
    <dd><%= link_to @rss.url, @rss.url %></dd>
  </dl>
</h4>
</div>
<div class="box-footer">
  <%= render 'shared/edit_button', path: edit_rss_path(@rss) %>
  <%= render 'shared/delete_button', path: rss_path(@rss) %>
</div>