<%- model_class = Eservice -%>
<% provide :title, t('helpers.titles.edit',
    name: @eservice.name, model: model_class.model_name.human) %>
<div class="box box-danger">
  <div class="box-body">
    <%= render :partial => 'form' %>
  </div>
</div>
